@model ProjetoAgenda.Models.Usuario


<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg border-0 rounded-4" style="width: 600px;top: -150px;">
        <div class="card-header bg-danger text-white text-center fs-4 fw-bold rounded-top-4">
            Apagar Contato
        </div>
        <div class="card-body text-center p-4">
            <p class="fs-5 mb-4">
                Você quer mesmo apagar esse contato ?
            </p>


            <p><strong>Nome:</strong> @Model.Nome</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Data de Nascimento:</strong> @Model.DataNascimento.ToShortDateString()</p>

            <a class="btn btn-danger" asp-controller="Usuario" asp-action="ConfirmarInativacao" asp-route-id="@Model.UsuarioId">
                Apagar
            </a>
            <form asp-action="ApagarContato" method="post">
                <p>

                </p>
          
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>

        </div>
    </div>
</div>